<header>
  <div *ngIf="logo && banner" class="container pl-0 pr-0">
    <div class="col-md-4 pl-0 pr-0">
      <img class="float-xs-let" [src]="logo"/>
    </div>
    <div class="col-md-8 pl-0 pr-0">
      <img class="float-xs-right" [src]="banner"/>
    </div>
  </div>
  <nav class="navbar navbar-light bg-faded">
      <div *ngIf="admin"><!-- Admin navbar -->
        <div class="nav navbar-nav container">
          <div class="nav-item nav-link col-xs-2 float-xs-right">
            <div class="input-group">
              <input type="text" class="form-control" [(ngModel)]="newPage.name" name="name">
              <span class="input-group-btn">
                <button type="button"
                  class="btn btn-default dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a (click)="addPage(0)">Blog type</a></li>
                  <li><a (click)="addPage(1)">Activity type</a></li>
                  <li><a (click)="addPage(2)">Gallery type</a></li>
                </ul>
              </span>
            </div>
          </div>

          <div *ngFor="let page of pages; let i = index; let e = even">
            <div class="nav-item nav-link col-xs-2" [ngClass]="{'float-xs-left': page.position===0, 'float-xs-right': page.position!==0}">
              <div class="input-group">
                <input type="text" class="form-control" aria-label="..." [(ngModel)]="page.name" name="name">
                <div class="input-group-btn">
                  <button type="button"
                    class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">-></a></li>
                    <li><a href="#"><-</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a (click)="deletePage(i)">Delete</a></li>
                    <li><a >Edit</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a routerLink="{{ page.position!==0 ? pageTypes[page.type]+'/'+page._id : '' }}">Go to</a></li>
                  </ul>
                </div><!-- /btn-group -->
              </div><!-- /input-group -->
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!admin"><!-- User navbar -->
        <div class="nav navbar-nav container">
          <div  *ngFor="let page of pages; let i = index; let e = even">
            <a class="nav-item nav-link float-xs-right"
            [ngClass]="{'float-xs-left': page.position===0, 'float-xs-right': page.position!==0, 'ml-1': page.position!==0}"
            routerLink="{{ page.position!==0 ? pageTypes[page.type]+'/'+page._id : '' }}">{{ page.name }}</a>
          </div>
        </div>
      </div>
  </nav>
</header>
