<footer class="card-footer">
  <div class="container">
    <div class="col-sm-4 hidden-sm-down">
      <div class="card-block">
        <h3 class="card-header">Des infos</h3>
      </div>
      <ul class="list-group list-group-flush">
        <li *ngFor="let info of infos">{{info}}</li>
      </ul>
    </div>
    <div class="col-sm-6 col-md-4 hidden-xs-down">
      <div class="card-block">
        <h3 class="card-header">Partenaires</h3>
      </div>
      <ul class="list-group list-group-flush">
        <li *ngFor="let partner of partners">{{partner}}</li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card-block">
        <h3 class="card-header">Contact</h3>
      </div>
      <ul class="list-group list-group-flush">
        <li *ngFor="let contact of contacts">{{contact}}</li>
      </ul>
    </div>
    <hr/>
    <div class="col-sm-12 mentions">
      Site par <a href="https://github.com/Kwarthys">Cap'n Kwarthys</a> et <a href="https://github.com/Saarg">Saarg</a> | Tous les contenus de ce site sont propriété du CIJM | <a href="https://github.com/Saarg/blog-prefab">Sources</a>.
    </div>
  </div>
</footer>
