<form (ngSubmit)="submitActivity()" class="row card" id='newActivity'>
  <div class="form-group">
    <input type="text" class="form-control" id="title" [(ngModel)]="newActivity.title" name="title">
  </div>

  <div class="form-group">
    <textarea class="form-control" id="text" rows="3" [(ngModel)]="newActivity.text" name="text"></textarea>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" id="location" [(ngModel)]="newActivity.location" name="location">
  </div>

  <div class="row">
    <div class="form-group col-xs-4">
      <select class="custom-select" id="mimetype" [(ngModel)]="newActivity.mimetype" name="mimetype">
        <option selected>Open this select menu</option>
        <option value="">Select media</option>
        <option value="image">image</option>
        <option value="youtube">youtube</option>
      </select>
    </div>

    <div class="form-group col-xs-5" *ngIf="newActivity.mimetype === 'image' && !newActivity.media">
      <label class="custom-file">
        <input type="file" id="file" class="custom-file-input" (change)="fileChange(input)" #input>
        <span class="custom-file-control">Click here to choose image</span>
      </label>
    </div>

    <div class="form-group col-xs-5" *ngIf="newActivity.media && newActivity.mimetype === 'image'">
      <img [attr.src]='newActivity.media' (click)="removeFile(i)" class="img-thumbnail rounded mx-auto d-block" alt=""/>
    </div>

    <div class="form-group col-xs-5" *ngIf="newActivity.mimetype === 'youtube'">
      <input type="text" class="form-control" id="youtube" [(ngModel)]="newActivity.media" name="media">
    </div>

    <button type="submit" class="btn btn-primary col-xs-2 mr-1 float-xs-right">Submit</button>
  </div>
</form>
