img{
  width: 15%;
  margin:10px;
}

.participants{
  float: right;
}

.participants p{
  margin-right: 10px;
}

#accordion{
  padding: 0;
}

.rightImg{float:right;}
.leftImg{float:left;}

article{
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #e4e4e4;
}

.asideMenu{
  background-color: #e4e4e4;
}

a{
  color: #1d5586;
}
