img{
  width: 20vw;
  margin:10px;
}

.head {
  padding-top: 0.5rem;
}

h4{
  cursor: pointer;
}
h4:hover{
  font-weight: bold;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-top: 5px solid black;

  position: absolute;
  top: 40%;
  left: -2.5px;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid black;

  position: absolute;
  bottom: 40%;
  left: -2.5px;
}
.activityText{
  text-indent: 1em;
}

.popupContainer{
  text-align: center;
  margin-bottom: 20px;
}

.locationDiv{
  font-style: italic;
  color: #003c6f;
}
