<div class="row">
  <h1>Activities</h1>
  <div class="col-12">
    <ul class="panel-group" id="accordion">
      <li *ngFor="let activity of activities; let i = index; let e = even" class="panel panel-default list-group-item">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{i}}">{{activity.title}}</a>
              <div class='participants'>
                <p style="display:inline-block">{{activity.participants.length}} participants</p>
                <button type="button" class="btn btn-info" (click)="joinInButtonCB(i)" style="display:inline-block">S'inscrire</button>
              </div> <!-- That's float'd to the right-->

          </h4>
        </div>
        <div id="collapse{{i}}" class="panel-collapse collapse">
          <div *ngIf="activity.mimetype">
            <div>
              <img [ngClass]="{'rightImg': e, 'leftImg': !e}" src={{activity.media}}>
            </div>
          </div>
          <div class="panel-body" style="text-indent: 1em;">{{activity.text}}</div>
        </div>
      </li>
    </ul>
  </div>
