.galleryDiv{
  padding: 0.1vw;
}

.thumbnail{
  overflow: hidden;
  height: 25vh;
  padding: 0;
  border-radius: 0.5rem;
}

.galleryDiv img{
  width: auto;
  height: 100%;
  margin: auto;
  position: absolute;
  left: -50%;
  right: -50%;
}

.galleryDivContainer{
  border-radius: 15px;
  background-color: #f5f5f5;
  padding : 30px;
}

.popupContainer{
  text-align: center;
  margin-bottom: 20px;
}

.popup img{
    max-width: 100%;
    max-height: 80vh;
}
