<div class="container pt-1 pb-1">
  <div class="row galleryDivContainer">
    <h1 *ngIf="pageInfo">{{pageInfo.name}}</h1>

    <div class=popupContainer  *ngIf="token">
      <button type="button" class="btn btn-info btn-lg" (click)="showFormPopup()">Ajouter de(s) image(s)</button>
      <app-popup *ngIf="displayFormPopup" class=popup [popupTitle]="'Ajout d\'image(s)'" [popupWidth]="5" (onClose)="formPopupOnClose()">
        <app-media-form (newMediaEvent)="newMedia($event)" ></app-media-form>
      </app-popup>
    </div>

    <div *ngFor="let image of images" class="galleryDiv col-xs-12 col-sm-6 col-md-4 col-xl-3">
      <div class="thumbnail col-xs-12" (click)="displayMedia(image)">
        <img src="/api/public/media/{{image.media}}/show">
      </div>
    </div>


    <button *ngIf="gimmeMoreShow" type="button" class="btn btn-info btnGimmeMore" (click)="showMoreMedias()">Charger plus d'images!</button>


    <app-popup *ngIf="popupMedia != null" class=popup [popupTitle]="popupMedia.description ? popupMedia.description : 'Zoom'" [popupWidth]="8" (onClose)="onDisplayMediaClose()">
      <div class="row">
        <img src="/api/public/media/{{popupMedia.media}}/show" [ngClass]="{'col-md-10': token, 'col-md-12': !token}">
        <div *ngIf="token" class="col-md-2">
          <button class="btn btn-danger col-xs-12" (click)="deleteMedia(popupMedia)">Supprimer</button>
          <textarea class="form-control col-xs-12" id="text" rows="10" [(ngModel)]="popupMedia.description" name="description"></textarea>
          <button class="btn btn-success col-xs-12" (click)="editMedia(popupMedia)">Valider</button>
        </div>
      </div>
    </app-popup>

  </div>
</div>
