.galleryDiv{
  overflow: hidden;
  height: 25vh;
  padding: 0;
  border-radius: 0.5rem;
}

.galleryDiv img{
  width: auto;
  height: 100%;
  margin: auto;
  position: absolute;
  left: -50%;
  right: -50%;
}
