hr {
  margin-bottom: 0;
}

.form-list {
  padding-left: 0;
  padding-right: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  list-style: none;
}
.form-list ul{
  padding-left: 0;
  padding-right: 0;
  list-style: none;
}

.form-list li:hover{
  background-color: #f7f7f9;
}

.form-list .active{
  background-color: #e7e7e9;
}
