<h1>Admin</h1>
<div class="card row">
  <h2>Pages</h2>
  <hr/>
  <div class="form-list col-xs-2">
    <ul>
      <li *ngFor="let page of pages" (click)="curPage = page;">{{page.name}}</li>
      <li (click)="curPage = newPage;">New page</li>
    </ul>
  </div>
  <form (ngSubmit)="curPage._id ? editPage() : addPage()" class="col-xs-10">
    <div class="form-group col-xs-10 pl-0">
      <input type="text" class="form-control" id="title" [(ngModel)]="curPage.name" name="name">
    </div>
    <div class="form-group col-xs-2 pr-0">
      <select class="custom-select" id="mimetype" [(ngModel)]="curPage.type" name="type">
        <option selected value="0">Blog type</option>
        <option value="1">Activity type</option>
        <option value="2">Gallery type</option>
      </select>
    </div>

    <div class="form-group">
      <textarea class="form-control" id="text" rows="3" [(ngModel)]="curPage.description" name="description"></textarea>
    </div>

    <div class="form-group">
      <a type="button" *ngIf="curPage._id" class="btn btn-danger col-xs-2 mr-1 float-xs-left" (click)="deletePage()">Delete</a>
      <button type="submit" class="btn btn-primary col-xs-2 float-xs-right">Submit</button>
    </div>
  </form>
</div>
