<div class="container">
  <h1>Admin</h1>

  <div class="card row">
    <h2>Header</h2>
    <hr/>
    <div class="col-md-3">
      <img *ngIf="logo" [attr.src]='logo' class="img-thumbnail rounded mx-auto d-block" alt=""/>
      <label class="custom-file" [ngClass]="{'col-xs-10': logo, 'col-xs-12': !logo}">
        <input type="file" id="file" class="custom-file-input" (change)="logoChange(logoInput)" #logoInput>
        <span class="custom-file-control">Click to choose logo</span>
      </label>
      <a type="button" *ngIf="logo" class="btn btn-success col-xs-2" (click)="editConfig('logo', logo)">V</a>
    </div>
    <div class="col-md-7">
      <img *ngIf="banner" [attr.src]='banner' class="img-thumbnail rounded mx-auto d-block" alt=""/>
      <label class="custom-file"  [ngClass]="{'col-xs-10': banner, 'col-xs-12': !banner}">
        <input type="file" id="file" class="custom-file-input" (change)="bannerChange(bannerInput)" #bannerInput>
        <span class="custom-file-control">Click here to choose banner</span>
      </label>
      <a type="button" *ngIf="banner" class="btn btn-success col-xs-2" (click)="editConfig('banner', banner)">Submit</a>
    </div>
    <a type="button" class="btn btn-danger col-xs-2" (click)="editConfig('logo', null); editConfig('banner', null)">Supprimer les logos</a>
  </div>

  <app-form-list title="Pages" [newItem]="newPage" [items]="pages" (selectedItem)="selectPage($event)">
    <form (ngSubmit)="curPage._id ? editPage() : addPage()" class="col-xs-10">
      <div class="form-group col-xs-10 pl-0">
        <input type="text" class="form-control" id="title" [(ngModel)]="curPage.name" name="name">
      </div>
      <div class="form-group col-xs-2 pr-0" *ngIf="!curPage._id">
        <select class="custom-select" id="mimetype" [(ngModel)]="curPage.type" name="type">
          <option selected value="0">Blog type</option>
          <option value="1">Activity type</option>
          <option value="2">Gallery type</option>
        </select>
      </div>

      <div class="form-group col-xs-2" *ngIf="curPage._id">
        <a type="button" class="btn btn-secondary col-xs-6" (click)="movePageUp()">up</a>
        <a type="button" class="btn btn-secondary col-xs-6" (click)="movePageDown()">down</a>
      </div>

      <div class="form-group">
        <textarea class="form-control" id="text" rows="3" [(ngModel)]="curPage.description" name="description"></textarea>
      </div>

      <div class="form-group">
        <a type="button" *ngIf="curPage._id" class="btn btn-danger col-xs-2 mr-1 float-xs-left" (click)="deletePage()">Delete</a>
        <button type="submit" class="btn btn-success col-xs-2 float-xs-right">Submit</button>
      </div>
    </form>
  </app-form-list>

  <div class="row card">
    <h2>Footer</h2>
    <hr/>
    <div class="col-md-4">
      <div class="card">
        <h3 class="card-header">Des infos</h3>
        <ul>
          <li *ngFor="let info of infoscpy; let i = index">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-danger" type="button" (click)="deleteInfo(info)">x</button>
              </span>
              <input type="text" class="form-control" [(ngModel)]="infos[i]" name="info">
              <span class="input-group-btn" *ngIf="infos[i] !== infoscpy[i]">
                <button class="btn btn-success" type="button" (click)="editInfo(info)">v</button>
              </span>
            </div>
          </li>
        </ul>

        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="newInfo" name="newInfo">
          <span class="input-group-btn">
            <button class="btn btn-success" type="button" (click)="addInfo(newInfo)">+</button>
          </span>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <h3 class="card-header">Partenaires</h3>
        <ul>
          <li *ngFor="let partner of partnerscpy; let i = index">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-danger" type="button" (click)="deletePartner(partner)">x</button>
              </span>
              <input type="text" class="form-control" [(ngModel)]="partners[i]" name="partner">
              <span class="input-group-btn" *ngIf="partners[i] !== partnerscpy[i]">
                <button class="btn btn-success" type="button" (click)="editPartner(partner)">v</button>
              </span>
            </div>
          </li>
        </ul>

        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="newPartner" name="newPartner">
          <span class="input-group-btn">
            <button class="btn btn-success" type="button" (click)="addPartner(newPartner)">+</button>
          </span>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <h3 class="card-header">Contact</h3>
        <ul>
          <li *ngFor="let contact of contactscpy; let i = index">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-danger" type="button" (click)="deleteContact(contact)">x</button>
              </span>
              <input type="text" class="form-control" [(ngModel)]="contacts[i]" name="contact">
              <span class="input-group-btn" *ngIf="contacts[i] !== contactscpy[i]">
                <button class="btn btn-success" type="button" (click)="editContact(contact)">v</button>
              </span>
            </div>
          </li>
        </ul>

        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="newContact" name="newContact">
          <span class="input-group-btn">
            <button class="btn btn-success" type="button" (click)="addContact(newContact)">+</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
