/* You can add global styles to this file, and also import other style files */
h1{
  text-align: center;
  margin: 20px;
  font-weight: bolder;
}

h2{
  text-align: center;
  margin: 10px;
}

a{
  cursor: pointer;
}

a:hover{
  font-weight: bold;
}


/***Media Popup addons**/

.mediaDeleteButtonContainer{
  text-align: right;
}
