html {
  min-height: 100vh;
}

body {
  /*background-color: #FDFBF4;*/
  background-color: #EFEFFO;
  min-height: 100vh;
}

/* You can add global styles to this file, and also import other style files */
h1{
  text-align: center;
  margin: 20px;
  font-weight: bolder;
}

h2{
  text-align: center;
  margin: 10px;
}

a{
  cursor: pointer;
}

a:hover{
  font-weight: bold;
}

@media (min-width: 1200px) {
  .container {
    width:1400px;
  }
}

/* SM styling */
@media (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0;
  }
}


/***Media Popup addons**/

.mediaDeleteButtonContainer{
  text-align: right;
}
