img{
  width: 33%;
  margin:10px;
}

.rightImg{float:right;}
.leftImg{float:left;}

article{
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fdd9d9;
}

.asideMenu{
  background-color: #fdd9d9;
}

a{
  color: #820f0f;
}
