.pageInfos {
  background-color: #DDEBF4;
}

img{
  width: 100%;
  margin:10px;
}

h2{
  color: #323E55;
}

.rightImg{float:right;}
.leftImg{float:left;}

article{
  padding: 20px;
  border: 0;
  border-radius: 0;
}

article p{
  white-space: pre-line;
}

a{
  color: #820f0f;
}

.navPageDiv, .navPageDivBottom{
  text-align: center;
  vertical-align: middle;
}

.navPageDivBottom{
  margin: 15px;
}

.navPageDiv *{
  display:inline-block;
}

.articleOdd{
  background-color: #DDEBF4;
}
.articleEven{
  /*background-color: #D7E5EC;*/
}

.navButtonLike{
  border: 1px solid #0275d8;
  padding-right: 5px;
  padding-left: 5px;
  vertical-align: middle;
}

.btnNavPageCur{
  background-color: #0275d8;
  color: white;
}

.buttonForm{
  margin-bottom: 15px;
}

.popupContainer{
  text-align: center;
}

.articleFooter span{
  font-style: italic;
  font-weight: lighter;
  color: #003c6f;
}

@media (min-width: 1200px) {
    .yt-embended {
        width:848px;
        height: 480px;
    }
}
