<div class="row">
  <div class="col-md-12 col-lg-12 pageInfos" *ngIf="pageInfo">
    <div class="container">
      <h1>{{pageInfo.name}}</h1>
      <p>{{pageInfo.description}}</p>
    </div>
  </div>

  <!-- Admin form -->
  <div class=popupContainer  *ngIf="token">
    <button type="button" class="btn btn-info btn-lg buttonForm" (click)="showFormPopup()">Ajouter un article</button>

    <app-popup *ngIf="displayFormPopup" class=popup [popupTitle]="'Ajouter un article'" [popupWidth]="5" (onClose)="formPopupOnClose()">
      <div>
        <app-article-form [pageId]="curId" (newArticleEvent)="newArticle($event) || formPopupOnClose()"></app-article-form>
      </div>
    </app-popup>
  </div>
  <div class="col-md-12 col-lg-12">
    <!-- Articles -->
    <article *ngFor="let article of articles; let i = index; let e = even" class="row card" [ngClass]="{'articleEven': e, 'articleOdd': !e}" id='{{i}}home'>
      <div class="container" *ngIf="article.editing" >
        <app-article-form [pageId]="curId" [article]="article" (newArticleEvent)="editArticle($event, article)" (deletedArticleEvent)="deleteArticle($event)"></app-article-form>
      </div>
      <div *ngIf="!article.editing" (click)="article.editing = token ? !article.editing : false" class="container">
        <h2>{{article.title}}</h2>
        <div>
          <div *ngIf="article.mimetype && article.mimetype !== 'youtube'">
            <div class="col-md-4 col-sm-12" [ngClass]="{'rightImg': e, 'leftImg': !e}">
              <img src="/api/public/media/{{article.media}}/show">
            </div>
          </div>
          <div *ngIf="article.mimetype === 'youtube'">
            <div class="yt-embended" [ngClass]="{'rightImg': e, 'leftImg': !e, 'mr-1': !e, 'ml-1': e}">
                <app-youtube-embended [url]="article.media"></app-youtube-embended>
            </div>
          </div>
          <p style="text-indent: 1em;">
                {{article.text}}
          </p>
          <div class="articleFooter">
            <span *ngIf="article.created===article.updated"> Créé: {{getPrettyDate(article.created)}}</span>
            <br>
            <span *ngIf="article.created!==article.updated"> Dernière mise à jour: {{getPrettyDate(article.updated)}}</span>
          </div>
        </div>
      </div>
    </article>
    <div  *ngIf="getListNavPage().length > 1">
      <div class='navPageDivBottom'>
        <button class="btn btn-primary" (click)="offsetChange(-1)">Previous</button>
        <button *ngFor="let button of getListNavPage() ; let i = index;" class="btn btn-outline-primary" [ngClass]="{'btnNavPageCur': offset === button}" (click)="goToOffset(button)">{{i+1}}</button>
        <button class="btn btn-primary" (click)="offsetChange(1)">Next</button>
      </div>
    </div>
  </div>

  <!-- <aside class="hidden-md-down col-lg-3">
    <ul>
      <li *ngFor="let article of articles; let i = index; let e = even" class="list-group-item asideMenu" [ngClass]="{'articleEven': e, 'articleOdd': !e}">
        <a (click)="goTo(i+'home')"> {{article.title}}</a>
      </li>
    </ul>
    <div>
      <div class='navPageDiv' *ngIf="getListNavPage().length > 1">
        <button class="btn btn-outline-primary btn-sm" (click)="offsetChange(-1)">←</button>
        <span class='navButtonLike btn-sm'>{{1+offset/nbArticles}} / {{pageCount}}</span>
        <button class="btn btn-outline-primary btn-sm" (click)="offsetChange(1)">→</button>
      </div>
    </div>
  </aside> -->
</div>
