.pageInfos {
  background-color: #DDEBF4;
}

img{
  width: 100%;
}

h2{
  font-size: 1.8rem;
  font-weight: 900;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  color: #323E55;
}

h2::after, h2::before {
  position: relative;

  display: inline-block;

  width: 50%;
  height: 1px;

  content: '';
  vertical-align: middle;

  background-color: #444;
}

h2::before {
  right: .5em;

  margin-left: -50%;
}

h2::after {
  left: .5em;

  margin-right: -50%;
}

.rightImg{
  float:right;
  padding-right: 0px;
}
.leftImg{
  float:left;
  padding-left: 0px;
}

article{
  padding: 20px;
  border: 0;
  border-radius: 0;
}

article p{
  white-space: pre-line;
}

a{
  color: #820f0f;
}

.navPageDiv, .navPageDivBottom{
  text-align: center;
  vertical-align: middle;
}

.navPageDivBottom{
  margin: 15px;
}

.navPageDiv *{
  display:inline-block;
}

.articleOdd{
  background-color: #DDEBF4;
}
.articleEven{
  /*background-color: #D7E5EC;*/
}

.navButtonLike{
  border: 1px solid #0275d8;
  padding-right: 5px;
  padding-left: 5px;
  vertical-align: middle;
}

.btnNavPageCur{
  background-color: #0275d8;
  color: white;
}

.buttonForm{
  margin-bottom: 15px;
}

.popupContainer{
  text-align: center;
}

.articleFooter span{
  font-style: italic;
  font-weight: lighter;
  color: #003c6f;
}

@media (min-width: 1200px) {
    .yt-embended {
        width:848px;
        height: 480px;
    }
}
