<div class="row">
  <h1>Home</h1>
  <div class="col-sm-12 col-md-9">
    <!-- Admin form -->
    <article-form *ngIf="token" [pageId]="curId" (newArticleEvent)="newArticle($event)"></article-form>

    <!-- Articles -->
    <article *ngFor="let article of articles; let i = index; let e = even" class="row card" id='{{i}}home'>
      <h2>{{article.title}}</h2>
      <div>
        <div *ngIf="article.mimetype">
          <div>
            <img [ngClass]="{'rightImg': e, 'leftImg': !e}" src={{article.media}}>
          </div>
        </div>
        <p style="text-indent: 1em;">
              {{article.text}}
        </p>
      </div>
    </article>
  </div>

  <aside class="hidden-sm-down col-md-3">
    <ul>
      <li *ngFor="let article of articles; let i = index" class="list-group-item asideMenu">
        <a (click)="goTo(i+'home')"> {{article.title}}</a>
      </li>
    </ul>
  </aside>
</div>
